doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href="https://fonts.googleapis.com/css2?family=Merriweather&family=Merriweather+Sans:wght@700&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="../css/style.css")
        title Document
    body 
        main.main 
            img.main__image(src="../image/mary.jpeg", alt="")
            h1 Marily Yánez 
            article
                p Counsellor con enfoque en análisis existencial y logoterapia.
                p Chopra Center Instructor en Meditación.
                p Chopra Center Instructor en Aryuveda.
                p Yoga Teacher.
                p Email: marilypresente@choprateachers.com
            figure
                a(href="https://instagram.com/atelierdeconexiones?utm_medium=copy_link")
                    img(src="../image/instagram.svg")
                img(src="../image/youtube-black.svg", alt="")
                img(src="../image/facebook.svg", alt="")